[Unit]
Description=The Lounge ({{ thelounge_identifier }})
{% for service in thelounge_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in thelounge_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ sysd_docker_unit_home_path }}"
ExecStartPre=-{{ sysd_docker_host_sh }} -c '{{ sysd_docker_host_command }} stop -t {{ sysd_docker_stop_grace }} {{ thelounge_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ sysd_docker_host_sh }} -c '{{ sysd_docker_host_command }} rm {{ thelounge_identifier }} 2>/dev/null || true'

ExecStartPre={{ sysd_docker_host_command }} create \
      --rm \
      --name={{ thelounge_identifier }} \
      --log-driver=none \
      --user={{ thelounge_uid }}:{{ thelounge_gid }} \
      --cap-drop=ALL \
      --read-only \
      --network={{ thelounge_container_network }} \
      {% if thelounge_container_http_host_bind_port %}
      -p {{ thelounge_container_http_host_bind_port }}:{{ thelounge_container_http_port }} \
      {% endif %}
      {% if thelounge_container_identd_host_bind_port %}
      -p {{ thelounge_container_identd_host_bind_port }}:{{ thelounge_container_identd_port }} \
      {% endif %}
      --env-file={{ thelounge_base_path }}/env \
      --label-file={{ thelounge_base_path }}/labels \
      --mount type=bind,src={{ thelounge_data_path }},dst=/var/opt/thelounge \
      {% for volume in thelounge_container_additional_volumes %}
      --mount type={{ volume.type | default('bind' if '/' in volume.src else 'volume') }},src={{ volume.src }},dst={{ volume.dst }}{{ (',' + volume.options) if volume.options else '' }} \
      {% endfor %}
      {% for arg in thelounge_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ thelounge_container_image_self_build_name if thelounge_container_image_self_build else thelounge_container_image }}

{% for network in thelounge_container_additional_networks %}
ExecStartPre={{ sysd_docker_host_command }} network connect {{ network }} {{ thelounge_identifier }}
{% endfor %}

ExecStart={{ sysd_docker_host_command }} start --attach {{ thelounge_identifier }}

ExecStop=-{{ sysd_docker_host_sh }} -c '{{ sysd_docker_host_command }} stop -t {{ sysd_docker_stop_grace }} {{ thelounge_identifier }} 2>/dev/null || true'
ExecStop=-{{ sysd_docker_host_sh }} -c '{{ sysd_docker_host_command }} rm {{ thelounge_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ thelounge_identifier }}

[Install]
WantedBy=multi-user.target
